<%- include('shared/header.ejs') %>
  <div class="form">
    <div id="login">
      <form action="/handleChangePassword" method="post">
        <div class="field-wrap mb-0">
          <label>Current Password<span class="req">*</span></label>
          <input name="currPassword" type="password" required value="<%= oldValues.currPassword %>"/>
          <% if (error.find(e => e.param == 'incorrectPass')) { %>
            <div class="alert alert-danger text-center">Your password isn't correct!</div>
          <% } %>
        </div>
        <div class="field-wrap mt-2 mb-0">
            <label>New Password<span class="req">*</span></label>
            <input name="newPassword" type="password" required value="<%= oldValues.newPassword %>"/>
        </div>

        <div class="field-wrap mb-0 mt-2">
            <label>Confirm Password<span class="req">*</span></label>
            <input name="rePassword" type="password" required/>
            <% if (error.find(e => e.param == 'rePassword')) { %>
              <div class="alert alert-danger text-center">Passwords aren't matched!</div>
          <% } %>
        </div>

        <button class="button button-block mt-5">Change Password</button>
      </form>
    </div>
  </div>
<%- include('shared/footer.ejs') %>