<%- include('shared/header.ejs') %>

<div class="form">
  <form action="/handleforgetpassword" method="post">
    <div class="field-wrap mb-0">
        <label> Email Address<span class="req">*</span> </label>
        <input name="email" type="email" required/>
    </div>

    <button class="button button-block mt-5">Change Password</button>
  </form>  
</div>

<%- include('shared/footer.ejs') %>