<%- include('shared/header.ejs') %>
  
<div class="form">
    <div id="resetPassword">
      <form action="/handleResetPassword" method="post">
        <div class="field-wrap mt-2 mb-0">
            <label>New Password<span class="req">*</span></label>
            <input name="newPassword" type="password" required value="<%= newPassword %>"/>
        </div>

        <div class="field-wrap mb-0 mt-2">
          <label>Confirm Password<span class="req">*</span></label>
          <input name="rePassword" type="password" required/>
          <% if (error.find(e => e.param == 'rePassword')) { %>
            <div class="alert alert-danger text-center">Passwords aren't matched!</div>
          <% } %>
        </div>

        <button class="button button-block mt-5">Reset Password</button>
      </form>
    </div>
</div>

<%- include('shared/footer.ejs') %>